openapi: 3.0.1
info:
  title: Devices.CloudPrint
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /print:
    get:
      tags:
        - print.print
      summary: Get print
      operationId: print.print_GetPrint
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - settings
                - services
                - printers
                - connectors
                - shares
                - printerShares
                - reports
                - operations
                - taskDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - services
                - printers
                - connectors
                - shares
                - printerShares
                - reports
                - operations
                - taskDefinitions
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.print'
          links:
            services:
              operationId: print.GetServices
              parameters:
                printService-id: $response.body#/id
            printers:
              operationId: print.GetPrinters
              parameters:
                printer-id: $response.body#/id
            connectors:
              operationId: print.GetConnectors
              parameters:
                printConnector-id: $response.body#/id
            shares:
              operationId: print.GetShares
              parameters:
                printerShare-id: $response.body#/id
            printerShares:
              operationId: print.GetPrinterShares
              parameters:
                printerShare-id: $response.body#/id
            reports:
              operationId: print.GetReports
              parameters:
                reportRoot-id: $response.body#/id
            operations:
              operationId: print.GetOperations
              parameters:
                printOperation-id: $response.body#/id
            taskDefinitions:
              operationId: print.GetTaskDefinitions
              parameters:
                printTaskDefinition-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.print
      summary: Update print
      operationId: print.print_UpdatePrint
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.print'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/connectors:
    get:
      tags:
        - print.printConnector
      summary: Get connectors from print
      operationId: print_ListConnectors
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
                - fullyQualifiedDomainName
                - fullyQualifiedDomainName desc
                - operatingSystem
                - operatingSystem desc
                - appVersion
                - appVersion desc
                - deviceHealth
                - deviceHealth desc
                - location
                - location desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - fullyQualifiedDomainName
                - operatingSystem
                - appVersion
                - deviceHealth
                - location
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printConnector
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printConnector'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printConnector
      summary: Create new navigation property to connectors for print
      operationId: print_CreateConnectors
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printConnector'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/connectors/{printConnector-id}':
    get:
      tags:
        - print.printConnector
      summary: Get connectors from print
      operationId: print_GetConnectors
      parameters:
        - name: printConnector-id
          in: path
          description: 'key: printConnector-id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - fullyQualifiedDomainName
                - operatingSystem
                - appVersion
                - deviceHealth
                - location
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printConnector'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - print.printConnector
      summary: Update the navigation property connectors in print
      operationId: print_UpdateConnectors
      parameters:
        - name: printConnector-id
          in: path
          description: 'key: printConnector-id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printConnector'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/operations:
    get:
      tags:
        - print.printOperation
      summary: Get operations from print
      operationId: print_ListOperations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - status
                - status desc
                - createdDateTime
                - createdDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - status
                - createdDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printOperation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printOperation'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printOperation
      summary: Create new navigation property to operations for print
      operationId: print_CreateOperations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printOperation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/operations/{printOperation-id}':
    get:
      tags:
        - print.printOperation
      summary: Get operations from print
      operationId: print_GetOperations
      parameters:
        - name: printOperation-id
          in: path
          description: 'key: printOperation-id of printOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - status
                - createdDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printOperation'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - print.printOperation
      summary: Update the navigation property operations in print
      operationId: print_UpdateOperations
      parameters:
        - name: printOperation-id
          in: path
          description: 'key: printOperation-id of printOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/printers:
    get:
      tags:
        - print.printer
      summary: Get printers from print
      operationId: print_ListPrinters
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - isAcceptingJobs
                - isAcceptingJobs desc
                - defaults
                - defaults desc
                - location
                - location desc
                - capabilities
                - capabilities desc
                - status
                - status desc
                - registeredDateTime
                - registeredDateTime desc
                - isShared
                - isShared desc
                - acceptingJobs
                - acceptingJobs desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - manufacturer
                - model
                - isAcceptingJobs
                - defaults
                - location
                - capabilities
                - status
                - registeredDateTime
                - isShared
                - acceptingJobs
                - jobs
                - allowedUsers
                - allowedGroups
                - share
                - connectors
                - taskTriggers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedUsers
                - allowedGroups
                - share
                - connectors
                - taskTriggers
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printer
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printer'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property to printers for print
      operationId: print_CreatePrinters
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printer'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}':
    get:
      tags:
        - print.printer
      summary: Get printers from print
      operationId: print_GetPrinters
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - manufacturer
                - model
                - isAcceptingJobs
                - defaults
                - location
                - capabilities
                - status
                - registeredDateTime
                - isShared
                - acceptingJobs
                - jobs
                - allowedUsers
                - allowedGroups
                - share
                - connectors
                - taskTriggers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedUsers
                - allowedGroups
                - share
                - connectors
                - taskTriggers
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printer'
          links:
            allowedUsers:
              operationId: print.printers.GetAllowedUsers
              parameters:
                printer-id: $request.path.printer-id
                printUserIdentity-id: $response.body#/id
            allowedGroups:
              operationId: print.printers.GetAllowedGroups
              parameters:
                printer-id: $request.path.printer-id
                printIdentity-id: $response.body#/id
            share:
              operationId: print.printers.GetShare
              parameters:
                printer-id: $request.path.printer-id
                printerShare-id: $response.body#/id
            connectors:
              operationId: print.printers.GetConnectors
              parameters:
                printer-id: $request.path.printer-id
                printConnector-id: $response.body#/id
            taskTriggers:
              operationId: print.printers.GetTaskTriggers
              parameters:
                printer-id: $request.path.printer-id
                printTaskTrigger-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - print.printer
      summary: Update the navigation property printers in print
      operationId: print_UpdatePrinters
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/allowedGroups':
    get:
      tags:
        - print.printer
      summary: Get allowedGroups from print
      operationId: print.printers_ListAllowedGroups
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printIdentity'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property to allowedGroups for print
      operationId: print.printers_CreateAllowedGroups
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/allowedGroups/{printIdentity-id}':
    get:
      tags:
        - print.printer
      summary: Get allowedGroups from print
      operationId: print.printers_GetAllowedGroups
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printIdentity-id
          in: path
          description: 'key: printIdentity-id of printIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printIdentity'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - print.printer
      summary: Update the navigation property allowedGroups in print
      operationId: print.printers_UpdateAllowedGroups
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printIdentity-id
          in: path
          description: 'key: printIdentity-id of printIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/allowedUsers':
    get:
      tags:
        - print.printer
      summary: Get allowedUsers from print
      operationId: print.printers_ListAllowedUsers
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - ipAddress
                - ipAddress desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - ipAddress
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printUserIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property to allowedUsers for print
      operationId: print.printers_CreateAllowedUsers
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/allowedUsers/{printUserIdentity-id}':
    get:
      tags:
        - print.printer
      summary: Get allowedUsers from print
      operationId: print.printers_GetAllowedUsers
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printUserIdentity-id
          in: path
          description: 'key: printUserIdentity-id of printUserIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUserIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - ipAddress
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - print.printer
      summary: Update the navigation property allowedUsers in print
      operationId: print.printers_UpdateAllowedUsers
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printUserIdentity-id
          in: path
          description: 'key: printUserIdentity-id of printUserIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUserIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/connectors':
    get:
      tags:
        - print.printer
      summary: Get connectors from print
      operationId: print.printers_ListConnectors
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
                - fullyQualifiedDomainName
                - fullyQualifiedDomainName desc
                - operatingSystem
                - operatingSystem desc
                - appVersion
                - appVersion desc
                - deviceHealth
                - deviceHealth desc
                - location
                - location desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - fullyQualifiedDomainName
                - operatingSystem
                - appVersion
                - deviceHealth
                - location
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printConnector
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printConnector'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/connectors/{printConnector-id}':
    get:
      tags:
        - print.printer
      summary: Get connectors from print
      operationId: print.printers_GetConnectors
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printConnector-id
          in: path
          description: 'key: printConnector-id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - fullyQualifiedDomainName
                - operatingSystem
                - appVersion
                - deviceHealth
                - location
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printConnector'
        default:
          $ref: '#/components/responses/error'
  '/print/printers/{printer-id}/microsoft.graph.getCapabilities()':
    get:
      tags:
        - print.Functions
      summary: Invoke function getCapabilities
      operationId: print.printers_getCapabilities
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerCapabilities'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/printers/{printer-id}/microsoft.graph.resetDefaults':
    post:
      tags:
        - print.Actions
      summary: Invoke action resetDefaults
      operationId: print.printers_resetDefaults
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/print/printers/{printer-id}/share':
    get:
      tags:
        - print.printer
      summary: Get share from print
      operationId: print.printers_GetShare
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - manufacturer
                - model
                - isAcceptingJobs
                - defaults
                - location
                - capabilities
                - status
                - createdDateTime
                - jobs
                - printer
                - allowedUsers
                - allowedGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - printer
                - allowedUsers
                - allowedGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerShare'
          links:
            printer:
              operationId: printer.share.GetPrinter
              parameters:
                printer-id: $response.body#/id
            allowedUsers:
              operationId: printer.share.GetAllowedUsers
              parameters:
                printer-id: $request.path.printer-id
                printUserIdentity-id: $response.body#/id
            allowedGroups:
              operationId: printer.share.GetAllowedGroups
              parameters:
                printer-id: $request.path.printer-id
                printIdentity-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
  '/print/printers/{printer-id}/taskTriggers':
    get:
      tags:
        - print.printer
      summary: Get taskTriggers from print
      operationId: print.printers_ListTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - event
                - event desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - event
                - definition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - definition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printTaskTrigger
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property to taskTriggers for print
      operationId: print.printers_CreateTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers/{printTaskTrigger-id}':
    get:
      tags:
        - print.printer
      summary: Get taskTriggers from print
      operationId: print.printers_GetTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: printTaskTrigger-id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - event
                - definition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - definition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
          links:
            definition:
              operationId: printer.taskTriggers.GetDefinition
              parameters:
                printer-id: $request.path.printer-id
                printTaskTrigger-id: $request.path.printTaskTrigger-id
                printTaskDefinition-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - print.printer
      summary: Update the navigation property taskTriggers in print
      operationId: print.printers_UpdateTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: printTaskTrigger-id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers/{printTaskTrigger-id}/definition':
    get:
      tags:
        - print.printer
      summary: Get definition from print
      operationId: print.printers.taskTriggers_GetDefinition
      parameters:
        - name: printer-id
          in: path
          description: 'key: printer-id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: printTaskTrigger-id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - createdBy
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printTaskDefinition'
          links:
            tasks:
              operationId: printTaskTrigger.definition.GetTasks
              parameters:
                printer-id: $request.path.printer-id
                printTaskTrigger-id: $request.path.printTaskTrigger-id
                printTask-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
  /print/printers/microsoft.graph.create:
    post:
      tags:
        - print.Actions
      summary: Invoke action create
      operationId: print.printers_create
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                manufacturer:
                  type: string
                model:
                  type: string
                physicalDeviceId:
                  type: string
                  nullable: true
                hasPhysicalDevice:
                  type: boolean
                  default: false
                  nullable: true
                certificateSigningRequest:
                  $ref: '#/components/schemas/microsoft.graph.printCertificateSigningRequest'
                connectorId:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /print/printerShares:
    get:
      tags:
        - print.printerShare
      summary: Get printerShares from print
      operationId: print_ListPrinterShares
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - isAcceptingJobs
                - isAcceptingJobs desc
                - defaults
                - defaults desc
                - location
                - location desc
                - capabilities
                - capabilities desc
                - status
                - status desc
                - createdDateTime
                - createdDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - manufacturer
                - model
                - isAcceptingJobs
                - defaults
                - location
                - capabilities
                - status
                - createdDateTime
                - jobs
                - printer
                - allowedUsers
                - allowedGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - printer
                - allowedUsers
                - allowedGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printerShare
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printerShare'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printerShare
      summary: Create new navigation property to printerShares for print
      operationId: print_CreatePrinterShares
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printerShare'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerShare'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}':
    get:
      tags:
        - print.printerShare
      summary: Get printerShares from print
      operationId: print_GetPrinterShares
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - manufacturer
                - model
                - isAcceptingJobs
                - defaults
                - location
                - capabilities
                - status
                - createdDateTime
                - jobs
                - printer
                - allowedUsers
                - allowedGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - printer
                - allowedUsers
                - allowedGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerShare'
          links:
            printer:
              operationId: print.printerShares.GetPrinter
              parameters:
                printerShare-id: $request.path.printerShare-id
                printer-id: $response.body#/id
            allowedUsers:
              operationId: print.printerShares.GetAllowedUsers
              parameters:
                printerShare-id: $request.path.printerShare-id
                printUserIdentity-id: $response.body#/id
            allowedGroups:
              operationId: print.printerShares.GetAllowedGroups
              parameters:
                printerShare-id: $request.path.printerShare-id
                printIdentity-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - print.printerShare
      summary: Update the navigation property printerShares in print
      operationId: print_UpdatePrinterShares
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printerShare'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/allowedGroups':
    get:
      tags:
        - print.printerShare
      summary: Get allowedGroups from print
      operationId: print.printerShares_ListAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printIdentity'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printerShare
      summary: Create new navigation property to allowedGroups for print
      operationId: print.printerShares_CreateAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/allowedGroups/{printIdentity-id}':
    get:
      tags:
        - print.printerShare
      summary: Get allowedGroups from print
      operationId: print.printerShares_GetAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: printIdentity-id
          in: path
          description: 'key: printIdentity-id of printIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printIdentity'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - print.printerShare
      summary: Update the navigation property allowedGroups in print
      operationId: print.printerShares_UpdateAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: printIdentity-id
          in: path
          description: 'key: printIdentity-id of printIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/allowedUsers':
    get:
      tags:
        - print.printerShare
      summary: Get allowedUsers from print
      operationId: print.printerShares_ListAllowedUsers
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - ipAddress
                - ipAddress desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - ipAddress
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printUserIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printerShare
      summary: Create new navigation property to allowedUsers for print
      operationId: print.printerShares_CreateAllowedUsers
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/allowedUsers/{printUserIdentity-id}':
    get:
      tags:
        - print.printerShare
      summary: Get allowedUsers from print
      operationId: print.printerShares_GetAllowedUsers
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: printUserIdentity-id
          in: path
          description: 'key: printUserIdentity-id of printUserIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUserIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - ipAddress
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - print.printerShare
      summary: Update the navigation property allowedUsers in print
      operationId: print.printerShares_UpdateAllowedUsers
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: printUserIdentity-id
          in: path
          description: 'key: printUserIdentity-id of printUserIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUserIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/printer':
    get:
      tags:
        - print.printerShare
      summary: Get printer from print
      operationId: print.printerShares_GetPrinter
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - manufacturer
                - model
                - isAcceptingJobs
                - defaults
                - location
                - capabilities
                - status
                - registeredDateTime
                - isShared
                - acceptingJobs
                - jobs
                - allowedUsers
                - allowedGroups
                - share
                - connectors
                - taskTriggers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedUsers
                - allowedGroups
                - share
                - connectors
                - taskTriggers
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printer'
          links:
            allowedUsers:
              operationId: printerShare.printer.GetAllowedUsers
              parameters:
                printerShare-id: $request.path.printerShare-id
                printUserIdentity-id: $response.body#/id
            allowedGroups:
              operationId: printerShare.printer.GetAllowedGroups
              parameters:
                printerShare-id: $request.path.printerShare-id
                printIdentity-id: $response.body#/id
            share:
              operationId: printerShare.printer.GetShare
              parameters:
                printerShare-id: $response.body#/id
            connectors:
              operationId: printerShare.printer.GetConnectors
              parameters:
                printerShare-id: $request.path.printerShare-id
                printConnector-id: $response.body#/id
            taskTriggers:
              operationId: printerShare.printer.GetTaskTriggers
              parameters:
                printerShare-id: $request.path.printerShare-id
                printTaskTrigger-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
  '/print/printerShares/{printerShare-id}/printer/microsoft.graph.getCapabilities()':
    get:
      tags:
        - print.Functions
      summary: Invoke function getCapabilities
      operationId: print.printerShares.printer_getCapabilities
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerCapabilities'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/printerShares/{printerShare-id}/printer/microsoft.graph.resetDefaults':
    post:
      tags:
        - print.Actions
      summary: Invoke action resetDefaults
      operationId: print.printerShares.printer_resetDefaults
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: printerShare-id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /print/reports:
    get:
      tags:
        - print.reportRoot
      summary: Get reports from print
      operationId: print_ListReports
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationSignInDetailedSummary
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
                - dailyPrintUsageSummariesByUser
                - monthlyPrintUsageSummariesByUser
                - dailyPrintUsageSummariesByPrinter
                - monthlyPrintUsageSummariesByPrinter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - applicationSignInDetailedSummary
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
                - dailyPrintUsageSummariesByUser
                - monthlyPrintUsageSummariesByUser
                - dailyPrintUsageSummariesByPrinter
                - monthlyPrintUsageSummariesByPrinter
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of reportRoot
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.reportRoot'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.reportRoot
      summary: Create new navigation property to reports for print
      operationId: print_CreateReports
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reportRoot'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/reports/{reportRoot-id}':
    get:
      tags:
        - print.reportRoot
      summary: Get reports from print
      operationId: print_GetReports
      parameters:
        - name: reportRoot-id
          in: path
          description: 'key: reportRoot-id of reportRoot'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reportRoot
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationSignInDetailedSummary
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
                - dailyPrintUsageSummariesByUser
                - monthlyPrintUsageSummariesByUser
                - dailyPrintUsageSummariesByPrinter
                - monthlyPrintUsageSummariesByPrinter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - applicationSignInDetailedSummary
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
                - dailyPrintUsageSummariesByUser
                - monthlyPrintUsageSummariesByUser
                - dailyPrintUsageSummariesByPrinter
                - monthlyPrintUsageSummariesByPrinter
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
          links:
            applicationSignInDetailedSummary:
              operationId: print.reports.GetApplicationSignInDetailedSummary
              parameters:
                reportRoot-id: $request.path.reportRoot-id
                applicationSignInDetailedSummary-id: $response.body#/id
            credentialUserRegistrationDetails:
              operationId: print.reports.GetCredentialUserRegistrationDetails
              parameters:
                reportRoot-id: $request.path.reportRoot-id
                credentialUserRegistrationDetails-id: $response.body#/id
            userCredentialUsageDetails:
              operationId: print.reports.GetUserCredentialUsageDetails
              parameters:
                reportRoot-id: $request.path.reportRoot-id
                userCredentialUsageDetails-id: $response.body#/id
            dailyPrintUsageSummariesByUser:
              operationId: print.reports.GetDailyPrintUsageSummariesByUser
              parameters:
                reportRoot-id: $request.path.reportRoot-id
                PrintUsageSummaryByUser-id: $response.body#/id
            monthlyPrintUsageSummariesByUser:
              operationId: print.reports.GetMonthlyPrintUsageSummariesByUser
              parameters:
                reportRoot-id: $request.path.reportRoot-id
                PrintUsageSummaryByUser-id: $response.body#/id
            dailyPrintUsageSummariesByPrinter:
              operationId: print.reports.GetDailyPrintUsageSummariesByPrinter
              parameters:
                reportRoot-id: $request.path.reportRoot-id
                PrintUsageSummaryByPrinter-id: $response.body#/id
            monthlyPrintUsageSummariesByPrinter:
              operationId: print.reports.GetMonthlyPrintUsageSummariesByPrinter
              parameters:
                reportRoot-id: $request.path.reportRoot-id
                PrintUsageSummaryByPrinter-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - print.reportRoot
      summary: Update the navigation property reports in print
      operationId: print_UpdateReports
      parameters:
        - name: reportRoot-id
          in: path
          description: 'key: reportRoot-id of reportRoot'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reportRoot
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reportRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/reports/microsoft.graph.getGroupArchivedPrintJobs(groupId=''{groupId}'',periodStart={periodStart},periodEnd={periodEnd})':
    get:
      tags:
        - print.Functions
      summary: Invoke function getGroupArchivedPrintJobs
      operationId: print.reports_getGroupArchivedPrintJobs
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: periodStart
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
        - name: periodEnd
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.archivedPrintJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/reports/microsoft.graph.getGroupPrintUsageSummary(groupId=''{groupId}'',periodStart={periodStart},periodEnd={periodEnd})':
    get:
      tags:
        - print.Functions
      summary: Invoke function getGroupPrintUsageSummary
      operationId: print.reports_getGroupPrintUsageSummary
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: periodStart
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
        - name: periodEnd
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupPrintUsageSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/reports/microsoft.graph.getOverallPrintUsageSummary(periodStart={periodStart},periodEnd={periodEnd},topListsSize={topListsSize})':
    get:
      tags:
        - print.Functions
      summary: Invoke function getOverallPrintUsageSummary
      operationId: print.reports_getOverallPrintUsageSummary
      parameters:
        - name: periodStart
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
        - name: periodEnd
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
        - name: topListsSize
          in: path
          required: true
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.overallPrintUsageSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/reports/microsoft.graph.getPrinterArchivedPrintJobs(printerId=''{printerId}'',periodStart={periodStart},periodEnd={periodEnd})':
    get:
      tags:
        - print.Functions
      summary: Invoke function getPrinterArchivedPrintJobs
      operationId: print.reports_getPrinterArchivedPrintJobs
      parameters:
        - name: printerId
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: periodStart
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
        - name: periodEnd
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.archivedPrintJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/reports/microsoft.graph.getPrinterUsageSummary(printerId=''{printerId}'',periodStart={periodStart},periodEnd={periodEnd})':
    get:
      tags:
        - print.Functions
      summary: Invoke function getPrinterUsageSummary
      operationId: print.reports_getPrinterUsageSummary
      parameters:
        - name: printerId
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: periodStart
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
        - name: periodEnd
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerUsageSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/reports/microsoft.graph.getPrintUsageSummariesByGroup(periodStart={periodStart},periodEnd={periodEnd})':
    get:
      tags:
        - print.Functions
      summary: Invoke function getPrintUsageSummariesByGroup
      operationId: print.reports_getPrintUsageSummariesByGroup
      parameters:
        - name: periodStart
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
        - name: periodEnd
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.groupPrintUsageSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/reports/microsoft.graph.getPrintUsageSummariesByPrinter(periodStart={periodStart},periodEnd={periodEnd})':
    get:
      tags:
        - print.Functions
      summary: Invoke function getPrintUsageSummariesByPrinter
      operationId: print.reports_getPrintUsageSummariesByPrinter
      parameters:
        - name: periodStart
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
        - name: periodEnd
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.printerUsageSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/reports/microsoft.graph.getPrintUsageSummariesByTimeSpan(periodStart={periodStart},periodEnd={periodEnd},timeSpanInMinutes={timeSpanInMinutes})':
    get:
      tags:
        - print.Functions
      summary: Invoke function getPrintUsageSummariesByTimeSpan
      operationId: print.reports_getPrintUsageSummariesByTimeSpan
      parameters:
        - name: periodStart
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
        - name: periodEnd
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
        - name: timeSpanInMinutes
          in: path
          required: true
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.printUsageSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/reports/microsoft.graph.getPrintUsageSummariesByUser(periodStart={periodStart},periodEnd={periodEnd})':
    get:
      tags:
        - print.Functions
      summary: Invoke function getPrintUsageSummariesByUser
      operationId: print.reports_getPrintUsageSummariesByUser
      parameters:
        - name: periodStart
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
        - name: periodEnd
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.userPrintUsageSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/reports/microsoft.graph.getUserArchivedPrintJobs(userId=''{userId}'',periodStart={periodStart},periodEnd={periodEnd})':
    get:
      tags:
        - print.Functions
      summary: Invoke function getUserArchivedPrintJobs
      operationId: print.reports_getUserArchivedPrintJobs
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: periodStart
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
        - name: periodEnd
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.archivedPrintJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/reports/microsoft.graph.getUserPrintUsageSummary(userId=''{userId}'',periodStart={periodStart},periodEnd={periodEnd})':
    get:
      tags:
        - print.Functions
      summary: Invoke function getUserPrintUsageSummary
      operationId: print.reports_getUserPrintUsageSummary
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: periodStart
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
        - name: periodEnd
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
[...]
