openapi: 3.0.1
info:
  title: People
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/analytics':
    get:
      tags:
        - users.userAnalytics
      summary: Get analytics from users
      operationId: users_GetAnalytics
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - settings
                - activityStatistics
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activityStatistics
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userAnalytics'
          links:
            activityStatistics:
              operationId: user.analytics.GetActivityStatistics
              parameters:
                user-id: $request.path.user-id
                activityStatistics-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.userAnalytics
      summary: Update the navigation property analytics in users
      operationId: users_UpdateAnalytics
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userAnalytics'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/analytics/activityStatistics':
    get:
      tags:
        - users.userAnalytics
      summary: Get activityStatistics from users
      operationId: users.analytics_ListActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activity
                - activity desc
                - startDate
                - startDate desc
                - endDate
                - endDate desc
                - timeZoneUsed
                - timeZoneUsed desc
                - duration
                - duration desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activity
                - startDate
                - endDate
                - timeZoneUsed
                - duration
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of activityStatistics
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.activityStatistics'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userAnalytics
      summary: Create new navigation property to activityStatistics for users
      operationId: users.analytics_CreateActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/analytics/activityStatistics/{activityStatistics-id}':
    get:
      tags:
        - users.userAnalytics
      summary: Get activityStatistics from users
      operationId: users.analytics_GetActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: activityStatistics-id
          in: path
          description: 'key: activityStatistics-id of activityStatistics'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityStatistics
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activity
                - startDate
                - endDate
                - timeZoneUsed
                - duration
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.userAnalytics
      summary: Update the navigation property activityStatistics in users
      operationId: users.analytics_UpdateActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: activityStatistics-id
          in: path
          description: 'key: activityStatistics-id of activityStatistics'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityStatistics
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/people':
    get:
      tags:
        - users.person
      summary: Get people from users
      operationId: users_ListPeople
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - givenName
                - givenName desc
                - surname
                - surname desc
                - birthday
                - birthday desc
                - personNotes
                - personNotes desc
                - isFavorite
                - isFavorite desc
                - emailAddresses
                - emailAddresses desc
                - phones
                - phones desc
                - postalAddresses
                - postalAddresses desc
                - websites
                - websites desc
                - title
                - title desc
                - companyName
                - companyName desc
                - yomiCompany
                - yomiCompany desc
                - department
                - department desc
                - officeLocation
                - officeLocation desc
                - profession
                - profession desc
                - sources
                - sources desc
                - mailboxType
                - mailboxType desc
                - personType
                - personType desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - givenName
                - surname
                - birthday
                - personNotes
                - isFavorite
                - emailAddresses
                - phones
                - postalAddresses
                - websites
                - title
                - companyName
                - yomiCompany
                - department
                - officeLocation
                - profession
                - sources
                - mailboxType
                - personType
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of person
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.person'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.person
      summary: Create new navigation property to people for users
      operationId: users_CreatePeople
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.person'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.person'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/people/{person-id}':
    get:
      tags:
        - users.person
      summary: Get people from users
      operationId: users_GetPeople
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: 'key: person-id of person'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: person
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - givenName
                - surname
                - birthday
                - personNotes
                - isFavorite
                - emailAddresses
                - phones
                - postalAddresses
                - websites
                - title
                - companyName
                - yomiCompany
                - department
                - officeLocation
                - profession
                - sources
                - mailboxType
                - personType
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.person'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.person
      summary: Update the navigation property people in users
      operationId: users_UpdatePeople
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: 'key: person-id of person'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: person
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.person'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile':
    get:
      tags:
        - users.profile
      summary: Get profile from users
      operationId: users_GetProfile
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - account
                - addresses
                - anniversaries
                - educationalActivities
                - emails
                - interests
                - languages
                - names
                - phones
                - positions
                - projects
                - notes
                - skills
                - webAccounts
                - websites
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - account
                - addresses
                - anniversaries
                - educationalActivities
                - emails
                - interests
                - languages
                - names
                - phones
                - positions
                - projects
                - notes
                - skills
                - webAccounts
                - websites
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profile'
          links:
            account:
              operationId: user.profile.GetAccount
              parameters:
                user-id: $request.path.user-id
                userAccountInformation-id: $response.body#/id
            addresses:
              operationId: user.profile.GetAddresses
              parameters:
                user-id: $request.path.user-id
                itemAddress-id: $response.body#/id
            anniversaries:
              operationId: user.profile.GetAnniversaries
              parameters:
                user-id: $request.path.user-id
                personAnniversary-id: $response.body#/id
            educationalActivities:
              operationId: user.profile.GetEducationalActivities
              parameters:
                user-id: $request.path.user-id
                educationalActivity-id: $response.body#/id
            emails:
              operationId: user.profile.GetEmails
              parameters:
                user-id: $request.path.user-id
                itemEmail-id: $response.body#/id
            interests:
              operationId: user.profile.GetInterests
              parameters:
                user-id: $request.path.user-id
                personInterest-id: $response.body#/id
            languages:
              operationId: user.profile.GetLanguages
              parameters:
                user-id: $request.path.user-id
                languageProficiency-id: $response.body#/id
            names:
              operationId: user.profile.GetNames
              parameters:
                user-id: $request.path.user-id
                personName-id: $response.body#/id
            phones:
              operationId: user.profile.GetPhones
              parameters:
                user-id: $request.path.user-id
                itemPhone-id: $response.body#/id
            positions:
              operationId: user.profile.GetPositions
              parameters:
                user-id: $request.path.user-id
                workPosition-id: $response.body#/id
            projects:
              operationId: user.profile.GetProjects
              parameters:
                user-id: $request.path.user-id
                projectParticipation-id: $response.body#/id
            notes:
              operationId: user.profile.GetNotes
              parameters:
                user-id: $request.path.user-id
                personAnnotation-id: $response.body#/id
            skills:
              operationId: user.profile.GetSkills
              parameters:
                user-id: $request.path.user-id
                skillProficiency-id: $response.body#/id
            webAccounts:
              operationId: user.profile.GetWebAccounts
              parameters:
                user-id: $request.path.user-id
                webAccount-id: $response.body#/id
            websites:
              operationId: user.profile.GetWebsites
              parameters:
                user-id: $request.path.user-id
                personWebsite-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.profile
      summary: Update the navigation property profile in users
      operationId: users_UpdateProfile
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/account':
    get:
      tags:
        - users.profile
      summary: Get account from users
      operationId: users.profile_ListAccount
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - inference
                - inference desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - source
                - source desc
                - ageGroup
                - ageGroup desc
                - countryCode
                - countryCode desc
                - preferredLanguageTag
                - preferredLanguageTag desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - ageGroup
                - countryCode
                - preferredLanguageTag
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of userAccountInformation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to account for users
      operationId: users.profile_CreateAccount
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/account/{userAccountInformation-id}':
    get:
      tags:
        - users.profile
      summary: Get account from users
      operationId: users.profile_GetAccount
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userAccountInformation-id
          in: path
          description: 'key: userAccountInformation-id of userAccountInformation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userAccountInformation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - ageGroup
                - countryCode
                - preferredLanguageTag
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.profile
      summary: Update the navigation property account in users
      operationId: users.profile_UpdateAccount
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userAccountInformation-id
          in: path
          description: 'key: userAccountInformation-id of userAccountInformation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userAccountInformation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/addresses':
    get:
      tags:
        - users.profile
      summary: Get addresses from users
      operationId: users.profile_ListAddresses
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - inference
                - inference desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - source
                - source desc
                - displayName
                - displayName desc
                - detail
                - detail desc
                - geoCoordinates
                - geoCoordinates desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - displayName
                - detail
                - geoCoordinates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of itemAddress
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.itemAddress'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to addresses for users
      operationId: users.profile_CreateAddresses
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemAddress'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemAddress'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/addresses/{itemAddress-id}':
    get:
      tags:
        - users.profile
      summary: Get addresses from users
      operationId: users.profile_GetAddresses
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemAddress-id
          in: path
          description: 'key: itemAddress-id of itemAddress'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemAddress
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - displayName
                - detail
                - geoCoordinates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemAddress'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.profile
      summary: Update the navigation property addresses in users
      operationId: users.profile_UpdateAddresses
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemAddress-id
          in: path
          description: 'key: itemAddress-id of itemAddress'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemAddress
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemAddress'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/anniversaries':
    get:
      tags:
        - users.profile
      summary: Get anniversaries from users
      operationId: users.profile_ListAnniversaries
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - inference
                - inference desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - source
                - source desc
                - type
                - type desc
                - date
                - date desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - type
                - date
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of personAnniversary
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.personAnniversary'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to anniversaries for users
      operationId: users.profile_CreateAnniversaries
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personAnniversary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAnniversary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/anniversaries/{personAnniversary-id}':
    get:
      tags:
        - users.profile
      summary: Get anniversaries from users
      operationId: users.profile_GetAnniversaries
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAnniversary-id
          in: path
          description: 'key: personAnniversary-id of personAnniversary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personAnniversary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - type
                - date
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAnniversary'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.profile
      summary: Update the navigation property anniversaries in users
      operationId: users.profile_UpdateAnniversaries
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAnniversary-id
          in: path
          description: 'key: personAnniversary-id of personAnniversary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personAnniversary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personAnniversary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/educationalActivities':
    get:
      tags:
        - users.profile
      summary: Get educationalActivities from users
      operationId: users.profile_ListEducationalActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - inference
                - inference desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - source
                - source desc
                - completionMonthYear
                - completionMonthYear desc
                - endMonthYear
                - endMonthYear desc
                - institution
                - institution desc
                - program
                - program desc
                - startMonthYear
                - startMonthYear desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - completionMonthYear
                - endMonthYear
                - institution
                - program
                - startMonthYear
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of educationalActivity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.educationalActivity'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to educationalActivities for users
      operationId: users.profile_CreateEducationalActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/educationalActivities/{educationalActivity-id}':
    get:
      tags:
        - users.profile
      summary: Get educationalActivities from users
      operationId: users.profile_GetEducationalActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: educationalActivity-id
          in: path
          description: 'key: educationalActivity-id of educationalActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationalActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - completionMonthYear
                - endMonthYear
                - institution
                - program
                - startMonthYear
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.profile
      summary: Update the navigation property educationalActivities in users
      operationId: users.profile_UpdateEducationalActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: educationalActivity-id
          in: path
          description: 'key: educationalActivity-id of educationalActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationalActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/emails':
    get:
      tags:
        - users.profile
      summary: Get emails from users
      operationId: users.profile_ListEmails
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - inference
                - inference desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - source
                - source desc
                - address
                - address desc
                - displayName
                - displayName desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - address
                - displayName
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of itemEmail
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.itemEmail'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to emails for users
      operationId: users.profile_CreateEmails
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemEmail'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemEmail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/emails/{itemEmail-id}':
    get:
      tags:
        - users.profile
      summary: Get emails from users
      operationId: users.profile_GetEmails
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemEmail-id
          in: path
          description: 'key: itemEmail-id of itemEmail'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemEmail
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - address
                - displayName
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemEmail'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.profile
      summary: Update the navigation property emails in users
      operationId: users.profile_UpdateEmails
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemEmail-id
          in: path
          description: 'key: itemEmail-id of itemEmail'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemEmail
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemEmail'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/interests':
    get:
      tags:
        - users.profile
      summary: Get interests from users
      operationId: users.profile_ListInterests
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - inference
                - inference desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - source
                - source desc
                - categories
                - categories desc
                - description
                - description desc
                - displayName
                - displayName desc
                - webUrl
                - webUrl desc
                - collaborationTags
                - collaborationTags desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - categories
                - description
                - displayName
                - webUrl
                - collaborationTags
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of personInterest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.personInterest'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to interests for users
      operationId: users.profile_CreateInterests
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personInterest'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personInterest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/interests/{personInterest-id}':
    get:
      tags:
        - users.profile
      summary: Get interests from users
      operationId: users.profile_GetInterests
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personInterest-id
          in: path
          description: 'key: personInterest-id of personInterest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personInterest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - categories
                - description
                - displayName
                - webUrl
                - collaborationTags
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personInterest'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.profile
      summary: Update the navigation property interests in users
      operationId: users.profile_UpdateInterests
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personInterest-id
          in: path
          description: 'key: personInterest-id of personInterest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personInterest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personInterest'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/languages':
    get:
      tags:
        - users.profile
      summary: Get languages from users
      operationId: users.profile_ListLanguages
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - inference
                - inference desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - source
                - source desc
                - displayName
                - displayName desc
                - tag
                - tag desc
                - proficiency
                - proficiency desc
                - spoken
                - spoken desc
                - written
                - written desc
                - reading
                - reading desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - displayName
                - tag
                - proficiency
                - spoken
                - written
                - reading
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of languageProficiency
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.languageProficiency'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to languages for users
      operationId: users.profile_CreateLanguages
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.languageProficiency'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.languageProficiency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/languages/{languageProficiency-id}':
    get:
      tags:
        - users.profile
      summary: Get languages from users
      operationId: users.profile_GetLanguages
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: languageProficiency-id
          in: path
          description: 'key: languageProficiency-id of languageProficiency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: languageProficiency
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - displayName
                - tag
                - proficiency
                - spoken
                - written
                - reading
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.languageProficiency'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.profile
      summary: Update the navigation property languages in users
      operationId: users.profile_UpdateLanguages
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: languageProficiency-id
          in: path
          description: 'key: languageProficiency-id of languageProficiency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: languageProficiency
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.languageProficiency'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/names':
    get:
      tags:
        - users.profile
      summary: Get names from users
      operationId: users.profile_ListNames
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - inference
                - inference desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - source
                - source desc
                - displayName
                - displayName desc
                - first
                - first desc
                - initials
                - initials desc
                - last
                - last desc
                - languageTag
                - languageTag desc
                - maiden
                - maiden desc
                - middle
                - middle desc
                - nickname
                - nickname desc
                - suffix
                - suffix desc
                - title
                - title desc
                - pronunciation
                - pronunciation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - displayName
                - first
                - initials
                - last
                - languageTag
                - maiden
                - middle
                - nickname
                - suffix
                - title
                - pronunciation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of personName
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.personName'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to names for users
      operationId: users.profile_CreateNames
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personName'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personName'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/names/{personName-id}':
    get:
      tags:
        - users.profile
      summary: Get names from users
      operationId: users.profile_GetNames
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personName-id
          in: path
          description: 'key: personName-id of personName'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personName
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - displayName
                - first
                - initials
                - last
                - languageTag
                - maiden
                - middle
                - nickname
                - suffix
                - title
                - pronunciation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personName'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.profile
      summary: Update the navigation property names in users
      operationId: users.profile_UpdateNames
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personName-id
          in: path
          description: 'key: personName-id of personName'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personName
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personName'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/notes':
    get:
      tags:
        - users.profile
      summary: Get notes from users
      operationId: users.profile_ListNotes
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - inference
                - inference desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - source
                - source desc
                - detail
                - detail desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - detail
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of personAnnotation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.personAnnotation'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to notes for users
      operationId: users.profile_CreateNotes
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personAnnotation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAnnotation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/notes/{personAnnotation-id}':
    get:
      tags:
        - users.profile
      summary: Get notes from users
      operationId: users.profile_GetNotes
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAnnotation-id
          in: path
          description: 'key: personAnnotation-id of personAnnotation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personAnnotation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - detail
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAnnotation'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.profile
      summary: Update the navigation property notes in users
      operationId: users.profile_UpdateNotes
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAnnotation-id
          in: path
          description: 'key: personAnnotation-id of personAnnotation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personAnnotation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personAnnotation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/phones':
    get:
      tags:
        - users.profile
      summary: Get phones from users
      operationId: users.profile_ListPhones
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - inference
                - inference desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - source
                - source desc
                - displayName
                - displayName desc
                - type
                - type desc
                - number
                - number desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - displayName
                - type
                - number
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of itemPhone
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.itemPhone'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to phones for users
      operationId: users.profile_CreatePhones
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemPhone'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemPhone'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/phones/{itemPhone-id}':
    get:
      tags:
        - users.profile
      summary: Get phones from users
      operationId: users.profile_GetPhones
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemPhone-id
          in: path
          description: 'key: itemPhone-id of itemPhone'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemPhone
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - displayName
                - type
                - number
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemPhone'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.profile
      summary: Update the navigation property phones in users
      operationId: users.profile_UpdatePhones
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemPhone-id
          in: path
          description: 'key: itemPhone-id of itemPhone'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemPhone
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemPhone'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/positions':
    get:
      tags:
        - users.profile
      summary: Get positions from users
      operationId: users.profile_ListPositions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - inference
                - inference desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - source
                - source desc
                - categories
                - categories desc
                - detail
                - detail desc
                - manager
                - manager desc
                - colleagues
                - colleagues desc
                - isCurrent
                - isCurrent desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
                - createdDateTime
                - createdBy
                - lastModifiedDateTime
                - lastModifiedBy
                - source
                - categories
                - detail
                - manager
                - colleagues
                - isCurrent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of workPosition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.workPosition'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to positions for users
      operationId: users.profile_CreatePositions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.workPosition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workPosition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/positions/{workPosition-id}':
    get:
      tags:
        - users.profile
      summary: Get positions from users
      operationId: users.profile_GetPositions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: workPosition-id
          in: path
          description: 'key: workPosition-id of workPosition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: workPosition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - inference
[...]
